<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0116097BLANC</key>
	<dict>
		<key>description</key>
		<string>Référence : 0116097BLANC
Fournisseur : Sud Roulettes Services
Description: Pareille que Serrure CDS mais sans vis</string>
		<key>label</key>
		<string>Serrure Kawneer</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-serrure-baie-coulissante-kawneer.php?id=824&amp;first=1&amp;last=9&amp;np=Serrure%20Kawneer&amp;search=0116097BLANC#ancre</string>
	</dict>
	<key>2312</key>
	<dict>
		<key>description</key>
		<string>Référence : 2312
Fournisseur : Sud Roulettes Services
Description: 2,5mm</string>
		<key>label</key>
		<string>Gâche petite</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-gache-baie-coulissante.php?id=193&amp;first=1&amp;last=9&amp;np=G%C3%A2che&amp;search=2312#ancre</string>
	</dict>
	<key>2313</key>
	<dict>
		<key>description</key>
		<string>Référence : 2313
Fournisseur : Sud Roulettes Services
Description: 4,5mm</string>
		<key>label</key>
		<string>Gâche grande</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-gache-baie-coulissante.php?id=194&amp;first=1&amp;last=9&amp;np=G%C3%A2che&amp;search=2313#ancre</string>
	</dict>
	<key>33020DA</key>
	<dict>
		<key>description</key>
		<string>Référence : 33020DA
Fournisseur : Sud Roulettes Services
Description: rayon DA 4</string>
		<key>label</key>
		<string>Galet 130° DA4</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-galet-130-baie-vitree.php?id=1000&amp;first=1&amp;last=9&amp;np=Galet%20130%C2%B0&amp;search=33020DA#ancre</string>
	</dict>
	<key>4_buttons</key>
	<dict>
		<key>description</key>
		<string>Référence : IDP17Y07F0001
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Régulateur Eliwell ID+961</string>
		<key>url</key>
		<string>https://panicoupe.fr/demande-particuliere/</string>
	</dict>
	<key>517-F1</key>
	<dict>
		<key>description</key>
		<string>Référence : 517-F1
Fournisseur : Sud Roulettes Services
Description: Poignée avec trous large vis</string>
		<key>label</key>
		<string>Serrure avec pas de vis</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-serrure-baie-coulissante-divers.php?id=1169&amp;first=1&amp;last=9&amp;np=Serrure&amp;search=517-F1#ancre</string>
	</dict>
	<key>518-F1</key>
	<dict>
		<key>description</key>
		<string>Référence : 518-F1
Fournisseur : Sud Roulettes Services
Description: Poignée sans trou vis face apparente</string>
		<key>label</key>
		<string>Serrure sans pas de vis</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-serrure-baie-coulissante-divers.php?id=1173&amp;first=1&amp;last=9&amp;np=Serrure&amp;search=518-F1#ancre</string>
	</dict>
	<key>55014DA</key>
	<dict>
		<key>description</key>
		<string>Référence : 55014DA
Fournisseur : Sud Roulettes Services
Description: rayon DA 6</string>
		<key>label</key>
		<string>Galet 150°</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-galet-150-baie-vitree.php?id=548&amp;first=1&amp;last=9&amp;np=Galet%20150%C2%B0&amp;search=55014DA#ancre</string>
	</dict>
	<key>55020DA</key>
	<dict>
		<key>description</key>
		<string>Référence : 55020DA
Fournisseur : Sud Roulettes Services
Description: rayon DA 6</string>
		<key>label</key>
		<string>Galet 130° DA6</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-galet-130-baie-vitree.php?id=556&amp;first=1&amp;last=9&amp;np=Galet%20130%C2%B0&amp;search=55020DA#ancre</string>
	</dict>
	<key>66011DA</key>
	<dict>
		<key>description</key>
		<string>Référence : 66011DA
Fournisseur : Sud Roulettes Services
Description: rayon DA 4</string>
		<key>label</key>
		<string>Galet plat</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-galet-plat-baie-vitree.php?id=566&amp;first=1&amp;last=9&amp;np=Galet%20plat&amp;search=66011DA#ancre</string>
	</dict>
	<key>6792BLANC</key>
	<dict>
		<key>description</key>
		<string>Référence : 6792BLANC
Fournisseur : Sud Roulettes Services
Description: Pareille que Serrure Kawneer mais avec vis </string>
		<key>label</key>
		<string>Serrure CDS</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-serrure-baie-coulissante-cds.php?id=433&amp;first=1&amp;last=9&amp;np=Serrure%20CDS&amp;search=6792BLANC#ancre</string>
	</dict>
	<key>6_buttons</key>
	<dict>
		<key>description</key>
		<string>Référence : XR02CX-5N0C1
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Thermostat régulateur électronique</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/thermostat-regulateur-electronique-de-frigo-1-relais/</string>
	</dict>
	<key>CC002PM-GRIS</key>
	<dict>
		<key>description</key>
		<string>Référence : CC002PM-GRIS
Fournisseur : Sud Roulettes Services
</string>
		<key>label</key>
		<string>Poignée clic clac sans supp</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-poignee-clicclac-baie-vitree.php?id=1454&amp;first=1&amp;last=9&amp;np=Poign%C3%A9e%20Clic%20Clac&amp;search=CC002PM-GRIS#ancre</string>
	</dict>
	<key>CC005PM-GRIS</key>
	<dict>
		<key>description</key>
		<string>Référence : CC005PM-GRIS
Fournisseur : Sud Roulettes Services
Description: avec support</string>
		<key>label</key>
		<string>Poignée clic clac avec supp</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-poignee-clicclac-baie-vitree.php?id=1062&amp;first=1&amp;last=9&amp;np=Poign%C3%A9e%20Clic%20Clac&amp;search=CC005PM-GRIS#ancre</string>
	</dict>
	<key>CD031750</key>
	<dict>
		<key>description</key>
		<string>Référence : CD031750
Fournisseur : Sud Roulettes Services
Description: Coupe galet R3/R2.2</string>
		<key>label</key>
		<string>Pièce détachée pour chariot R3</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-piece-detachee-chariot.php?id=300&amp;first=1&amp;last=9&amp;np=Pi%C3%A8ce%20d%C3%A9tach%C3%A9e%20pour%20chariot&amp;search=CD031750#ancre</string>
	</dict>
	<key>CD037070</key>
	<dict>
		<key>description</key>
		<string>Référence : CD037070
Fournisseur : Sud Roulettes Services
Description: Coupe galet créneau</string>
		<key>label</key>
		<string>Pièce détachée pour chariot creneau</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-piece-detachee-chariot.php?id=1144&amp;first=1&amp;last=9&amp;np=Pi%C3%A8ce%20d%C3%A9tach%C3%A9e%20pour%20chariot&amp;search=CD037070#ancre</string>
	</dict>
	<key>DR021110</key>
	<dict>
		<key>description</key>
		<string>Référence : DR021110
Fournisseur : Sud Roulettes Services
Description: la ref est la bonne mais la photo site est confusante</string>
		<key>label</key>
		<string>Roulette de rénovation 150</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=399&amp;first=1&amp;last=9&amp;np=Roulette%20de%20r%C3%A9novation&amp;search=DR021110#ancre</string>
	</dict>
	<key>DR0211120</key>
	<dict>
		<key>description</key>
		<string>Référence : DR021120
Fournisseur : Sud Roulettes Services
Description: idem</string>
		<key>label</key>
		<string>Roulette de rénovation R3</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=400&amp;first=1&amp;last=9&amp;np=Roulette%20de%20r%C3%A9novation&amp;search=DR021120#ancre</string>
	</dict>
	<key>DR03883GR3</key>
	<dict>
		<key>description</key>
		<string>Référence : DR03883GR3
Fournisseur : Sud Roulettes Services
Description: galets noirs coupe type 150°, forme générale rectangulaire</string>
		<key>label</key>
		<string>Roulette de rénovation Rnoires 150</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=748&amp;first=1&amp;last=9&amp;np=Roulette%20de%20r%C3%A9novation&amp;search=DR03883GR3#ancre</string>
	</dict>
	<key>DR042580</key>
	<dict>
		<key>description</key>
		<string>Référence : DR042580
Fournisseur : Sud Roulettes Services
Description: galets noirs coupe créneau, forme générale rectangulaire</string>
		<key>label</key>
		<string>Roulette de rénovation Rnoires creneau</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=324&amp;first=1&amp;last=9&amp;np=Roulette%20de%20r%C3%A9novation&amp;search=DR042580#ancre</string>
	</dict>
	<key>DR044790</key>
	<dict>
		<key>description</key>
		<string>Référence : DR044790
Fournisseur : Sud Roulettes Services
Description: galets inox coupe 150°, sans trucs qui dépassent en bas</string>
		<key>label</key>
		<string>Roulette de rénovation Rgrises no dep</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=974&amp;first=1&amp;last=9&amp;np=Roulette%20de%20r%C3%A9novation&amp;search=DR044790#ancre</string>
	</dict>
	<key>DR044830</key>
	<dict>
		<key>description</key>
		<string>Référence : DR044830
Fournisseur : Sud Roulettes Services
Description: galets inox coupe 150°, trucs qui dépassent en bas</string>
		<key>label</key>
		<string>Roulette de rénovation Rgrises dep</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=497&amp;first=1&amp;last=9&amp;np=Roulette%20de%20r%C3%A9novation&amp;search=DR044830#ancre</string>
	</dict>
	<key>Poignee_avec_serrure</key>
	<dict>
		<key>description</key>
		<string>Référence : FER920
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Fermeture FERMOD 920</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/fermeture-fermod-920-et-921/</string>
	</dict>
	<key>Poignee_sans_serrure</key>
	<dict>
		<key>description</key>
		<string>Référence : FER921
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Fermeture FERMOD 921</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/fermeture-fermod-920-et-921/</string>
	</dict>
	<key>ampoule</key>
	<dict>
		<key>description</key>
		<string>Référence : LEXNGU12
Fournisseur : Panicoupe
Description: Ampoule halogène 50 watts</string>
		<key>label</key>
		<string>Lampe four halogène 50W</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/lampes-four-halogene-dichroique-fermee/</string>
	</dict>
	<key>branchement_pour_moteur</key>
	<dict>
		<key>description</key>
		<string>Référence : PR12/16093E/F
Fournisseur : Panicoupe
Description: Branchement moteur pour inversion sens</string>
		<key>label</key>
		<string>Commutateur BACO modèle inverseur</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/commutateur-baco-modele-inverseur-pour-laminoir/</string>
	</dict>
	<key>charniere_fermod_306</key>
	<dict>
		<key>description</key>
		<string>Référence : FER306
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Charnière FERMOD 306</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/charniere-fermod-306-2/</string>
	</dict>
	<key>charniere_fermod_720</key>
	<dict>
		<key>description</key>
		<string>Référence : FER720
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Charnière FERMOD 720</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/charniere-fermod-720-2/</string>
	</dict>
	<key>cloche_en_verre</key>
	<dict>
		<key>description</key>
		<string>Référence : nan
Fournisseur : Sud Roulettes Services
</string>
		<key>label</key>
		<string>Cloche Verre</string>
		<key>url</key>
		<string>https://fr.wikipedia.org/wiki/Under_the_Dome_(s%C3%A9rie_t%C3%A9l%C3%A9vis%C3%A9e)</string>
	</dict>
	<key>compteur_eau_draco</key>
	<dict>
		<key>description</key>
		<string>Référence : DRACO
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Compteur d&apos;eau DRACO</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/compteur-deau-draco-0-99999-litres-avec-decimale/</string>
	</dict>
	<key>corps_de_pivot</key>
	<dict>
		<key>description</key>
		<string>Référence : FER175
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Corps de pivot à ressort</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/corps-de-pivot-a-ressort/</string>
	</dict>
	<key>dispositif_de_controle_universel</key>
	<dict>
		<key>description</key>
		<string>Référence : EV3411M7
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Dispositifs de contrôle universels</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/dispositif-de-controle-universels/</string>
	</dict>
	<key>electrovanne</key>
	<dict>
		<key>description</key>
		<string>Référence : EVCP1180
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Electrovanne droite plastique</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/electrovanne-droite-corps-plastique-1-voie-180/</string>
	</dict>
	<key>galet_ceramique</key>
	<dict>
		<key>description</key>
		<string>Référence : DR045720
Fournisseur : Sud Roulettes Services
Description: Chariot</string>
		<key>label</key>
		<string>Chariot</string>
		<key>url</key>
		<string>https://sud-roulettes-services.com/fiche-roulette-renovation-baie-coulissante.php?id=759&amp;np=Roulette%20de%20r%C3%A9novation&amp;prov=cotations#ancre</string>
	</dict>
	<key>loqueteaux</key>
	<dict>
		<key>description</key>
		<string>Référence : 6188N
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Loqueteaux ergo 6188</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/loqueteaux-ergo-6188-6189/</string>
	</dict>
	<key>motoreducteur_leroy-somer</key>
	<dict>
		<key>description</key>
		<string>Référence : MRTAX
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Motoréducteur Leroy-Somer</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/motoreducteur-leroy-somer-pour-four-ibt-tax-et-trx/</string>
	</dict>
	<key>pressostats</key>
	<dict>
		<key>description</key>
		<string>Référence : PRES6020
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Pressostats lavage</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/pressostats-lavage/</string>
	</dict>
	<key>programmateur</key>
	<dict>
		<key>description</key>
		<string>Référence : PROG2
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Programmateurs 7003F3</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/programmateurs-7003f3/</string>
	</dict>
	<key>regulateur_universel</key>
	<dict>
		<key>description</key>
		<string>Référence : RTU620
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Régulateur universel RTU620</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/regulateur-universel-panicoupe-rtu620/</string>
	</dict>
	<key>resistance_ailettes_rectangulaires</key>
	<dict>
		<key>description</key>
		<string>Référence : AIL251000
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Résistance ailettes rectanhgulaires</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/resistance-ailettes-rectangulaires-25-x-50-mm/</string>
	</dict>
	<key>resistance_circulaire</key>
	<dict>
		<key>description</key>
		<string>Référence : RESIS1
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Résistance circulaire 9450W</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/resistance-circulaire-9450-w-pour-four-ventile/</string>
	</dict>
	<key>resistance_pour_lave_batterie</key>
	<dict>
		<key>description</key>
		<string>Référence : RESIS32
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Résistance pour lave batterie</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/resistance-pour-lave-batterie/</string>
	</dict>
	<key>roue_noire_avec_plateau</key>
	<dict>
		<key>description</key>
		<string>Référence : RZHT80P
Fournisseur : Panicoupe
Description: 100 mm</string>
		<key>label</key>
		<string>Roulette HT pivotante avec fixation</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/roulette-ht-pivotante-chape-zinguee/</string>
	</dict>
	<key>roue_noire_seule</key>
	<dict>
		<key>description</key>
		<string>Référence : GALHT80P
Fournisseur : Panicoupe
Description: 80 mm</string>
		<key>label</key>
		<string>Roulette HT pivotante seule</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/roue-seule-haute-temperature/</string>
	</dict>
	<key>roulette_blanche_avec_plateau</key>
	<dict>
		<key>description</key>
		<string>Référence : RZN65P
Fournisseur : Panicoupe
Description: 100 mm</string>
		<key>label</key>
		<string>Roulette polypropylène pivotate avec fixation</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/roulette-polypropylene-pivotante-chape-zinguee/</string>
	</dict>
	<key>roulette_blanche_sans_plateau</key>
	<dict>
		<key>description</key>
		<string>Référence : RIN80P
Fournisseur : Panicoupe
Description: 100 mm, pas de plateau sur le dessus</string>
		<key>label</key>
		<string>Roulette polypropylène pivotante sans fixation</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/roulette-polypropylene-pivotante-chape-inox/</string>
	</dict>
	<key>sonde</key>
	<dict>
		<key>description</key>
		<string>Référence : CPTC180W
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Cartouches autorégulantes PTC</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/cartouches-autoregulantes-ptc/</string>
	</dict>
	<key>ventilateur_axial_compact</key>
	<dict>
		<key>description</key>
		<string>Référence : NMB119
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Ventilateur axial compact NMB</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/ventilateurs-axiaux-compacts-nmb/</string>
	</dict>
	<key>ventilateur_axial_triphase</key>
	<dict>
		<key>description</key>
		<string>Référence : 148VK
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Ventilateur axial triphasé</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/ventilateurs-axial-triphase-special-chambre-de-pousse/</string>
	</dict>
	<key>ventilateur_centrifuge</key>
	<dict>
		<key>description</key>
		<string>Référence : D2E146HT
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Ventilateur centrifuge 4 vitesses</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/ventilateur-centrifuge-a-4-vitesses-integrees/</string>
	</dict>
	<key>ventilateur_tangentiel</key>
	<dict>
		<key>description</key>
		<string>Référence : VT180
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Ventilateur tangentiel</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/ventilateur-tangentiel-2/</string>
	</dict>
	<key>vn5</key>
	<dict>
		<key>description</key>
		<string>Référence : VN5
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Moteur VN5 Universel</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/moteur-vn5-universel/</string>
	</dict>
	<key>vn7</key>
	<dict>
		<key>description</key>
		<string>Référence : VN7
Fournisseur : Panicoupe
</string>
		<key>label</key>
		<string>Moteur VN7 Universel</string>
		<key>url</key>
		<string>https://panicoupe.fr/p/moteur-vn7-universel/</string>
	</dict>
</dict>
</plist>
