<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ball_bearing</key>
	<dict>
		<key>label</key>
		<string>Roulette de rénovation</string>
		<key>description</key>
		<string>Réf DR045720

Prix : 35.00 €

Description :

Roulette de rénovation.
Gamme: Wicona 24E et EN34.
Code sur support:4449A
Code sur cage intérieur :4403B 

Commentaire :

Ce modèle remplace l&apos;ancien chariot portant sur le support le code:
- SR-SA2
- SF-SA2
- 4373
- 4940
- 4933
- 4473
Dimensions et forme de galet à vérifier par vos soins.

</string>
	</dict>
	<key>motor_m</key>
	<dict>
		<key>label</key>
		<string>Moteur VN7 Universel</string>
		<key>description</key>
		<string>5 fixations différentes : 3 trous taraudés M4 à 120° sur Ø 72 mm sur la flasque arrière avec guides de blocage. 3 trous taraudés M4 à 120° sur Ø 72 mm sur la flasque avant 4 tiges filetées M4 côté arbre pour montage type virole 2 vis M4 entraxe 26 mm pour fixation d’un pied support 2 vis M4 entraxe 18 mm pour fixation d’un pied support. Puissance 7 W (38 W absorbés) Vitesse 1300 T/min – Câble 0.50 m Sens de rotation : anti-horaire</string>
	</dict>
	<key>motor_S</key>
	<dict>
		<key>label</key>
		<string>Moteur VN5 Universel</string>
		<key>description</key>
		<string> fixations différentes : 3 trous taraudés M4 à 120° sur Ø 72 mm sur la flasque arrière avec guides de blocage. 3 trous taraudés M4 à 120° sur Ø 72 mm sur la flasque avant 4 tiges filetées M4 côté arbre pour montage type virole 2 vis M4 entraxe 26 mm pour fixation d’un pied support 2 vis M4 entraxe 18 mm pour fixation d’un pied support. Puissance 5 W (33 W absorbés) Vitesse 1300 T/min – Câble 0.50 m Sens de rotation : anti-horaire</string>
	</dict>
	<key>handle_lockless</key>
	<dict>
		<key>label</key>
		<string>Fermeture Fermod 920/921 avec clé</string>
		<key>description</key>
		<string>Fermeture composite automatique à 1 point avec décondamnation intérieure par coup de poing. Pour portes pivotantes encastrées ou en surépaisseur de 27 à 152 mm de décalage en fonction de la gâche choisie. Fixation et axe invisibles et inaccessibles. Interchangeable gauche ou droite. Décalage suivant gâche utilisée. Finition en matériau composite.

</string>
	</dict>
	<key>sofiane</key>
	<dict>
		<key>label</key>
		<string>Homo Sapiens Sapiens</string>
		<key>description</key>
		<string>Ceci est un exemple d&apos;humain. Il n&apos;est cependant pas représentatif car il est extrêment bg.</string>
	</dict>
	<key>handle_lock</key>
	<dict>
		<key>description</key>
		<string>Fermeture composite automatique à 1 point avec décondamnation intérieure par coup de poing. Pour portes pivotantes encastrées ou en surépaisseur de 27 à 152 mm de décalage en fonction de la gâche choisie. Fixation et axe invisibles et inaccessibles. Interchangeable gauche ou droite. Décalage suivant gâche utilisée. Finition en matériau composite.

</string>
		<key>label</key>
		<string>Fermeture Fermod 920/921 sans clé</string>
	</dict>
</dict>
</plist>
